{% extends "hello.html" %}

{% block post %}
<h2>Apps</h2>
<p>
My current apps for iOS. Traditional support is not offered, but I welcome feedback on Twitter at <a href="http://twitter.com/sunhwan">@sunhwan</a>.
</p>

<hr>

<h3>Braille</h3>
<p>
I was often curious about what it meant whenever I came across braille texts on signages and wall panels. One days, I was told that sometimes these brailles are completely wrong because the sign maker didn't pay much attention. I made this app to quickly check if the braille text on a sign makes sense.
</p>

<a href="https://itunes.apple.com/us/app/braille-go/id1341467934?mt=8"><img src="/static/images/appstore.svg"></a>
</p>
{% endblock %}
