{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<style>
    body {
        font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1.125em;
    }

    a {
        text-decoration: underline;
    }

    h1 {
        font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
        font-size: 2em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.1em;
    }

    footer {
        margin: 2em 0;
        font-size: 0.8em;
        text-align: center;
    }

    #masthead-background {
        height: 165px;
        /* background-color: #372312; */
        margin-bottom: -165px;
        border-top: 5px solid #0066ff;
    }

    .main {
        width: 640px;
        margin: auto;
    }

    #masthead {
        width: 310px;
        font-size: 0.9em;
        color: #aaa;
    }

    #masthead h1 {
        font-weight: normal;
        margin-top: 0;
        padding-top: 0.5em;
        margin-bottom: 0.25em;
    }

    #masthead h1 a {
        color: #000;
        text-decoration: none;
    }

    #masthead p {
        margin: 0;
        padding: 0;
        color: #000;
    }

    #masthead nav {
        display: block;
        margin: 0;
        padding: 1em 0;
        /* color: #5c3b1e; */
    }

    #masthead a {
        /* color: #aaa; */
    }

    .divider {
        background: #0066ff;
        height: 2px;
        border: none;
    }

    #post {
        width: 640px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    /* publications */
    .pubs {
        font-size: 0.9em;
    }

    .pubs .author {
        font-size: 0.8em;
    }
</style>
{% endblock %}

{% block navbar %}
<!-- below is copied from marco.org -->
<div id="masthead-background"></div>
<div class="container main">
    <div id="masthead">
        <h1><a href="/">sunhwanj.com</a></h1>
        <div>
            <p id="description">
                I&rsquo;m <a href="/about" rel="author">Sunhwan Jo</a>:
                This is my personal blog.
            </p>

            <nav>
                <a href="/apps">Apps</a>
                &bull;
                <a href="/publications">Publications</a>
                &bull;
                <a href="https://twitter.com/sunhwan">Twitter</a>
                &bull;
                <a href="/about">About</a>
            </nav>
        </div>
    </div>

    <hr class="divider"/>
</div>
{% endblock navbar %}

{%- block content %}
<div class="container main">
    <div id="post">
    {%- block post %}
    {%- endblock post %}
    </div>
</div>

{%- block footer %}
<div class="container main">
    <hr class="divider"/>
    <footer>&copy; 2018 Sunhwan Jo</footer>
</div>
{%- endblock footer %}
{%- endblock content %}